@tailwind base;
@tailwind components;
@tailwind utilities;

nav.toc {
  @apply
  border-b
  border-gray-300
  pb-2
  dark:border-gray-600
  sm:float-right
  sm:max-w-[50%]
  sm:border-l
  sm:border-b-0
  sm:pl-2
  sm:pb-0
  sm:ml-2;
}

.ch-frame-buttons {
  display: none !important;
}
